* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: sans-serif;
}



#Principal {
    height: auto;
    width: auto;
    align-items: center;
}


#Header {
    height: 70px;
    max-width: 100%;
    background-color: rgb(10, 72, 114);
}

.paragrafoHeader {
    color: rgb(231, 244, 255);
   text-align: left;
}

#Corpo {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 800px) {
    #Corpo {
        height: 100vh;
    }
    
}