* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: sans-serif;
}



#Principal {
    height: auto;
    width: auto;
    align-items: center;
}


#Header {
    position: relative;
    height: 70px;
    max-width: 100%;
    background-color: rgb(10, 72, 114);
}

.paragrafoHeader {
    color: rgb(231, 244, 255);
   text-align: left;
}

#Corpo {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.Forms {
    border: 1px;
    border-color: black;
    border-style: solid;
}

button, input[type="submit"] {
    background-color: rgb(10, 72, 114);
    color: rgb(231, 244, 255);
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.botoes-container {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 800px) {
        #Header {
        height: 100px;
        max-width: 100%;
        background-color: rgb(10, 72, 114);
    }
}