/* Container do login */
.Login {
    margin: 100px auto;
    height: 300px;
    width: 300px;
    background-color: rgb(197, 197, 197);
    padding: 10px;
    border-radius: 10px;

}

/* Margem dos formularios */
.Forms {
    margin-bottom: 15px;
}

/* Estilo do link de registro */
.botoes-container {
    margin-top: 10px;
}

#formLogin a {
    color: var(--preto-texto);
}

