/* Container dos formularios*/
#cadastroPesquisaContainer {
    display: block;
}

#graficos {
    display: none;
    justify-content: center;
    gap: 20px;
}

#menuUsuario {
    position: absolute;
    display: block;
    height: fit-content;
    max-width: fit-content;
    background-color: rgba(220, 220, 220, 0.515);
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    z-index: 0;
}

/* Formularios de controle de estoque*/
.botao {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: var(--cor-principal);
    color: aliceblue;
    display: flex;
    margin: 10px;
    width: fit-content;
}

#botaoContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#PesquisaForm {
    display: none;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

#PesquisaForm > div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

#PesquisaForm label {
    display: block;
    margin-bottom: 5px;
}

#PesquisaForm input[type="number"], #PesquisaForm input[type="text"] {
    display: block;
}

#PesquisaForm .inputForm {
    margin-top: 10px;
}

#botaoForms {
    display: none;
    padding: 5px;
    color: aliceblue;
}


#produto_ID_Div, #quantidade_Produto_Div {
    display: none;
}

.inputForm {
    border: 1px solid black;
    background-color: var(--cor-principal);
    
    cursor: pointer;
}

#resultadosTabela tr td button{
    background-color: var(--cor-principal);
    color: aliceblue;
    border: 1px solid black;
    cursor: pointer;
}
/* Fim dos formularios de controle de estoque*/

/* Resultados da pesquisa */
/* Container dos resultados */
#resultados {
    max-height: 400px;
    margin: 20px auto 0;
    overflow: auto;
    padding-bottom: 10px;
    text-align: center;
    z-index: 0;
}

#resultados table {
    margin: 0 auto;
    text-align: justify;
}
/* Fim dos resultados da pesquisa */


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.alterarTabela {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

/* Inicio do menu usuario */

#usuarioLogado {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 0;
    align-items: center;
    justify-content: center;
}

#avatar {
    width: 30px;
    height: 30px;
    display: block;
}

#imgAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
}

#nomeUsuario {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    display: flex;
    margin-top: 5px;
}

#menuUsuarioDropdown {
    display: none;
    position: absolute;
    background-color: var(--cor-principal);
    min-width: 148px;
    min-height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    flex-direction: column;
}

#menuUsuarioDropdown button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#menuUsuarioDropdown button:hover {
    background-color: white;
    color: black;
}

#userConta {
    position: sticky;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 400px;
    height: 400px;
    background-color: var(--cor-secundaria);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 0px;
}

#botaoFecharMenu {
    position: absolute;
    display: block;
    top: 10px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--preto-texto);
    cursor: pointer;
    z-index: 4;
}

.menu {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: inherit;
    color: var(--preto-texto);
    background-color: transparent;
    width: 100%;
    
}

#perfil, #configuracoes {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#configuracoes p, #perfil p , .configuracoes p , .perfil p , #configuracoes label , #perfil label , .configuracoes label , .perfil label{
    color: var(--preto-texto);
}

#menuUsuarioContainer {
    display: flex;
    height: 100%;
    width: 100%;
} 

.coluna {
    display: inline-block;
    flex-direction: column;
    height: 100%;
}

#coluna1 {
    width: 30%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
}

#coluna2 {
    width: 70%;
    box-sizing: border-box;
}

#coluna1 button:hover, #coluna2 button:hover {
    color: aliceblue;
    background-color: var(--cor-principal);
}

/* Perfil */
#perfil{
    display: inherit;
    flex-direction: column;
    z-index: inherit;
}

#alterarSenha{
    color: var(--preto-texto);
    width: fit-content;
    padding-left: 5px;
}

#alterarSenha:hover{
    background-color: transparent;
    text-decoration: underline;
}

#excluirConta{
    color: var(--preto-texto);
    width: fit-content;
    margin-top: 10px;
    background-color: transparent;
}

#nomeUsuarioPerfil, #emailUsuarioPerfil {
    margin-top: 5px;
    color: var(--preto-texto);
}

#nomeUsuarioPerfil:hover {
    text-decoration: underline;
    cursor: pointer;
}

#imagemContainer {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}

#imgAvatarPerfil {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

#transicao {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: var(--branco-texto);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 5px;
    transition: .5s ease;
    text-align: center;
    background-color: var(--cor-principal);
}

#imagemContainer:hover #imgAvatarPerfil {
    opacity: 0.3;
}

#imagemContainer:hover #transicao {
    opacity: 1;
}
/* Fim Perfil */



/* Configurações */
#configuracoes{
    display: inherit;
    flex-direction: column;
    z-index: inherit;
}

#temaEscuroDiv, #temaClaroDiv {
    margin: 5px 5px 0 0;
    display: flex;
}

#suporte h3{
    margin-top: 40px;
    color: var(--preto-texto);
}

#enviarSuporte {
    border: 1px solid black;
    background-color: var(--cor-secundaria);
    color: var(--preto-texto);
    padding: 5px 10px;
    cursor: pointer;
}

/* Fim Configurações */
#botaoSalvarCancelar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 4;
    
}

#salvarDiv, #cancelarDiv {
    position: relative;
    display: inline-block;
    text-align: center; 
}

#cancelarConfig, #salvarConfig {
    border: 1px solid black;
    background-color: var(--cor-secundaria);
    color: var(--preto-texto);
}

/* Fim do menu usuario */