#PesquisaForm {
    display: none;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

#PesquisaForm > div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

#PesquisaForm label {
    display: block;
    margin-bottom: 5px;
}

#menuUsuario {
    position: relative;
    display: block;
    height: fit-content;
    max-width: fit-content;
    background-color: rgba(220, 220, 220, 0.515);
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}


#PesquisaForm input[type="number"], #PesquisaForm input[type="text"] {
    display: block;
}

#PesquisaForm .inputForm {
    margin-top: 10px;
}

#resultados {
    max-height: 400px;
    margin: 20px auto 0;
    overflow: auto;
    padding-bottom: 10px;
    text-align: center;
}

#resultados table {
    margin: 0 auto;
    text-align: justify;
}

.inputForm {
    border: 1px solid black;
    background-color: rgba(122, 255, 251, 0.648);
    cursor: pointer;
}

.botao {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: rgba(218, 255, 254, 0.648);
    color: black;
    display: inline-block;
    margin: 10px 5px;
}

#produto_ID_Div, #quantidade_Produto_Div {
    display: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.alterarTabela {
    cursor: pointer;
}

#botaoForms {
    display: none;
    padding: 5px;
}

#usuarioLogado {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    float: right;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

#nomeUsuario {
    margin: 0 10px;
    font-weight: bold;
}


@media screen and (max-width: 800px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}