/* Container do formulario de recuperar senha */
.Login {
    margin: 100px auto;
    height: 300px;
    width: 300px;
    background-color: rgb(197, 197, 197);
    padding: 10px;
    border-radius: 10px;

}

/* Margem dos formularios */
.Forms {
    margin-bottom: 15px;
}