.Login {
    height: 300px;
    width: 300px;
    background-color: rgb(197, 197, 197);
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;

}

.Forms {
    margin-bottom: 10px;
}

#login {
    margin-top: 20px;
}