.Login {
    height: 300px;
    width: 300px;
    background-color: rgb(197, 197, 197);
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;

}

.Forms {
    margin-bottom: 10px;
}

.botoes-container {
    display: flex;
    gap: 10px;
}

#login {
    flex: 1;
}

input[type="submit"] {
    flex: 1;
}

#caractere, #maiuscula, #minuscula, #numero, #especial {
    font-size: 14px;
    color: grey;
    margin: 2px 0;
}