.resetarSenhaContainer {
    margin: 100px auto;
    height: 300px;
    width: 300px;
    background-color: rgb(197, 197, 197);
    padding: 10px;
    border-radius: 10px;
}

#resetarSenhaForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

form input{
    margin-bottom: 10px;
}

#caractere, #maiuscula, #minuscula, #numero, #especial, #senhasIguais {
    font-size: 12px;
    color: grey;
    margin: 2px 0;
}

.botoes-container {
    display: flex;
    gap: 10px;
}

.senha, .confirmarSenha {
    margin: auto;
}